.contact {
  margin: 200px 0px 0px 0px;
  padding: 0px 0px 240px 0px; }
  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--heading-color); }
  .contact__title {
    margin: 0px 0px 138px 0px; }
    .contact__title h2 {
      font-weight: bold;
      font-size: 44px;
      line-height: 51px;
      color: var(--heading-color); }
  .contact__text {
    max-width: 393px; }
    .contact__text p {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--font-color); }
  .contact__card {
    padding: 82px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--heading-color);
    /* &:hover,
    &:hover h3,
    &:hover p,
    &:hover svg line {
        stroke: var(--bg-color);
        color: var(--bg-color);
        background-color: var(--heading-color);
    } */ }
    .contact__card-send {
      display: none; }
  .contact__card-social {
    margin: 0px 0px 156px 0px;
    width: 240px;
    color: var(--heading-color); }
    .contact__card-social h3 {
      font-weight: bold;
      font-size: 44px;
      line-height: 51px; }
  .contact__card-links {
    display: flex; }
    .contact__card-links p {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--font-color); }
  .contact__card-icon svg line {
    stroke: var(--heading-color); }

@media (max-width: 576px) {
  .contact {
    margin: 100px 0px 0px 0px;
    padding: 0px 0px 140px 0px; }
    .contact__wrapper {
      display: flex;
      flex-direction: column; }
    .contact__title {
      margin: 0px 0px 16px 0px; }
      .contact__title h2 {
        font-weight: bold;
        font-size: 44px;
        line-height: 51px; }
    .contact__text {
      max-width: 305px;
      padding: 0px 0px 42px 0px; }
    .contact__card {
      padding: 35px 0px 0px 0px;
      display: flex;
      flex-direction: column; }
      .contact__card-send {
        display: block; }
    .contact__card-social {
      margin: 0px 0px 16px 0px; }
    .contact__card-links {
      margin: 0px 0px 38px 0px; }
    .contact__card-icon {
      display: none; }
    .contact__card-send {
      padding: 0px 0px 42px 0px; }
      .contact__card-send a {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--heading-color);
        border-bottom: 1px solid var(--heading-color); } }
@media only screen and (orientation: landscape) and (max-width: 992px) {
  .contact {
    margin: 100px 10% 0px 10%;
    padding: 0px 0px 140px 0px; }
    .contact__wrapper {
      display: flex;
      flex-direction: column; }
    .contact__title {
      margin: 0px 0px 16px 0px; }
      .contact__title h2 {
        font-weight: bold;
        font-size: 44px;
        line-height: 51px; }
    .contact__text {
      max-width: 530px;
      padding: 0px 0px 42px 0px; }
    .contact__card {
      padding: 35px 0px 0px 0px;
      display: flex;
      flex-direction: column; }
      .contact__card-send {
        display: block; }
    .contact__card-social {
      margin: 0px 0px 16px 0px; }
    .contact__card-links {
      margin: 0px 0px 38px 0px; }
    .contact__card-icon {
      display: none; }
    .contact__card-send {
      padding: 0px 0px 42px 0px; }
      .contact__card-send a {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--heading-color);
        border-bottom: 1px solid var(--heading-color); } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .contact {
    margin: 100px 6% 0px 6%;
    padding: 0px 0px 140px 0px; }
    .contact__wrapper {
      display: flex;
      flex-direction: column; }
    .contact__title {
      margin: 0px 0px 16px 0px; }
      .contact__title h2 {
        font-weight: bold;
        font-size: 44px;
        line-height: 51px; }
    .contact__text {
      max-width: 530px;
      padding: 0px 0px 42px 0px; }
    .contact__card {
      padding: 35px 0px 0px 0px;
      display: flex;
      flex-direction: column; }
      .contact__card-send {
        display: block; }
    .contact__card-social {
      margin: 0px 0px 16px 0px; }
    .contact__card-links {
      margin: 0px 0px 38px 0px; }
    .contact__card-icon {
      display: none; }
    .contact__card-send {
      padding: 0px 0px 42px 0px; }
      .contact__card-send a {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--heading-color);
        border-bottom: 1px solid var(--heading-color); } }

/*# sourceMappingURL=contact.css.map */
