.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0px 0px 0px;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  z-index: 41;
}

.header__logo span {
  display: inline-block;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: var(--logo-bg-color);
}

.header__logo p {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: var(--heading-color);
}

.burger__menu-active .burger__menu-lines {
  background-color: transparent;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}

.burger__menu-active .burger__menu-lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.1s linear, -webkit-transform 0.1s ease-in 0.1s;
  transition: top 0.1s linear, -webkit-transform 0.1s ease-in 0.1s;
  -o-transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
  transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
  transition: top 0.1s linear, transform 0.1s ease-in 0.1s, -webkit-transform 0.1s ease-in 0.1s;
}

.burger__menu-active .burger__menu-lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.1s linear, -webkit-transform 0.1s ease-in 0.1s;
  transition: top 0.1s linear, -webkit-transform 0.1s ease-in 0.1s;
  -o-transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
  transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
  transition: top 0.1s linear, transform 0.1s ease-in 0.1s, -webkit-transform 0.1s ease-in 0.1s;
}

.burger__menu-active .burger__menu-nav {
  opacity: 1;
  z-index: 20;
  margin: 0 auto;
}

.burger__menu-active .burger__menu-overlay {
  display: block;
}

.burger__menu-button {
  position: relative;
  display: block;
  background-color: transparent;
  top: 8px;
  right: 0px;
  z-index: 30;
  width: 30px;
  height: 23px;
}

.burger__menu-lines, .burger__menu-lines::after, .burger__menu-lines::before {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--heading-color);
}

.burger__menu-lines {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}

.burger__menu-lines::before {
  content: "";
  top: -10px;
  -webkit-transition: top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
  transition: top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
  -o-transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
  transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
  transition: transform 0.1s ease-in, top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
}

.burger__menu-lines::after {
  content: "";
  top: 10px;
  -webkit-transition: top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
  transition: top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
  -o-transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
  transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
  transition: transform 0.1s ease-in, top 0.1s linear 0.1s, -webkit-transform 0.1s ease-in;
}

.burger__menu-nav {
  text-align: center;
  margin: 0 auto;
  padding: 153px 0px 0px 0px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: var(--bg-color);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.burger__menu-link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 51px;
  color: var(--heading-color);
  margin: 0px 0px 60px 0px;
}

.burger__menu-link::last-child {
  margin: 0px 0px 0px 0px;
}

.burger__menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
