.mywork {
  margin: 200px 0px 0px 0px; }
  .mywork__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--heading-color); }
  .mywork__title {
    margin: 0px 0px 138px 0px; }
    .mywork__title h2 {
      font-weight: bold;
      font-size: 44px;
      line-height: 51px;
      color: var(--heading-color); }
  .mywork_text {
    max-width: 393px; }
    .mywork_text p {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--font-color); }
  .mywork__card {
    margin: 82px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--heading-color); }
  .mywork__card-name {
    margin: 0px 0px 156px 0px; }
    .mywork__card-name h3 {
      font-weight: bold;
      font-size: 44px;
      line-height: 51px;
      color: var(--heading-color); }
  .mywork__card-description {
    max-width: 394px; }
    .mywork__card-description p {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--font-color); }
  .mywork__card-icon svg line {
    stroke: var(--heading-color); }
  .mywork__card-links {
    display: none; }
  .mywork__card-link {
    color: var(--heading-color); }
  .mywork #laweta {
    position: absolute;
    width: 480px;
    height: 300px; }

@media (min-width: 1920px) {
  .mywork {
    margin: 250px 0px 0px 0px; }
    .mywork__wrapper {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--heading-color); }
    .mywork__title {
      margin: 0px 0px 146px 0px; }
      .mywork__title h2 {
        font-weight: bold;
        font-size: 58px;
        line-height: 79px;
        color: var(--heading-color); }
    .mywork_text {
      max-width: 554px; }
      .mywork_text p {
        font-weight: normal;
        font-size: 22px;
        line-height: 35px;
        color: var(--font-color); }
    .mywork__card {
      margin: 82px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      border-bottom: 1px solid var(--heading-color); }
    .mywork__card-name {
      margin: 0px 0px 156px 0px; }
      .mywork__card-name h3 {
        font-weight: bold;
        font-size: 58px;
        line-height: 65px;
        color: var(--heading-color); }
    .mywork__card-description {
      max-width: 553px; }
      .mywork__card-description p {
        font-weight: normal;
        font-size: 22px;
        line-height: 35px;
        color: var(--font-color); }
    .mywork__card-icon svg line {
      stroke: var(--heading-color); }
    .mywork__card-links {
      display: none; }
    .mywork__card-link {
      color: var(--heading-color); }
    .mywork #laweta {
      position: absolute;
      width: 480px;
      height: 300px; } }
@media (max-width: 576px) {
  .mywork {
    margin: 100px 0px 0px 0px; }
    .mywork__wrapper {
      padding: 0px 0px 42px 0px;
      flex-direction: column; }
      .mywork__wrapper .mywork__title {
        margin: 0px 0px 16px 0px; }
      .mywork__wrapper .mywork_text {
        max-width: 330px; }
    .mywork__card {
      margin: 35px 0px 0px 0px;
      padding: 0px 0px 42px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
    .mywork__card-name {
      margin: 0px 0px 16px 0px; }
    .mywork__card-description {
      margin: 0px 0px 38px 0px;
      max-width: 330px; }
    .mywork__card-icon {
      display: none; }
    .mywork__card-links {
      display: block; }
      .mywork__card-links .links {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--heading-color);
        border-bottom: 1px solid var(--heading-color); } }
@media only screen and (orientation: landscape) and (max-width: 992px) {
  .mywork {
    margin: 100px 10% 0px 10%; }
    .mywork__wrapper {
      padding: 0px 0px 42px 0px;
      flex-direction: column; }
      .mywork__wrapper .mywork__title {
        margin: 0px 0px 16px 0px; }
      .mywork__wrapper .mywork_text {
        max-width: 508px; }
    .mywork__card {
      margin: 35px 0px 0px 0px;
      padding: 0px 0px 42px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
    .mywork__card-name {
      margin: 0px 0px 16px 0px; }
    .mywork__card-description {
      margin: 0px 0px 38px 0px;
      max-width: 508px; }
    .mywork__card-icon {
      display: none; }
    .mywork__card-links {
      display: block; }
      .mywork__card-links .links {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--heading-color);
        border-bottom: 1px solid var(--heading-color); } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .mywork {
    margin: 100px 6% 0px 6%; }
    .mywork__wrapper {
      padding: 0px 0px 42px 0px;
      flex-direction: column; }
      .mywork__wrapper .mywork__title {
        margin: 0px 0px 16px 0px; }
      .mywork__wrapper .mywork_text {
        max-width: 508px; }
    .mywork__card {
      margin: 35px 0px 0px 0px;
      padding: 0px 0px 42px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
    .mywork__card-name {
      margin: 0px 0px 16px 0px; }
    .mywork__card-description {
      margin: 0px 0px 38px 0px;
      max-width: 508px; }
    .mywork__card-icon {
      display: none; }
    .mywork__card-links {
      display: block; }
      .mywork__card-links .links {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--heading-color);
        border-bottom: 1px solid var(--heading-color); } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .mywork {
    margin: 100px 19% 0px 19%; }
    .mywork__wrapper {
      padding: 0px 0px 42px 0px;
      flex-direction: column; }
      .mywork__wrapper .mywork__title {
        margin: 0px 0px 16px 0px; }
      .mywork__wrapper .mywork_text {
        max-width: 508px; }
    .mywork__card {
      margin: 35px 0px 0px 0px;
      padding: 0px 0px 42px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
    .mywork__card-name {
      margin: 0px 0px 16px 0px; }
    .mywork__card-description {
      margin: 0px 0px 38px 0px;
      max-width: 508px; }
    .mywork__card-icon {
      display: none; }
    .mywork__card-links {
      display: block; }
      .mywork__card-links .links {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--heading-color);
        border-bottom: 1px solid var(--heading-color); } }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .mywork {
    margin: 100px 19% 0px 19%; }
    .mywork__wrapper {
      padding: 0px 0px 42px 0px;
      flex-direction: column; }
      .mywork__wrapper .mywork__title {
        margin: 0px 0px 16px 0px; }
      .mywork__wrapper .mywork_text {
        max-width: 508px; }
    .mywork__card {
      margin: 35px 0px 0px 0px;
      padding: 0px 0px 42px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
    .mywork__card-name {
      margin: 0px 0px 16px 0px; }
    .mywork__card-description {
      margin: 0px 0px 38px 0px;
      max-width: 508px; }
    .mywork__card-icon {
      display: none; }
    .mywork__card-links {
      display: block; }
      .mywork__card-links .links {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--heading-color);
        border-bottom: 1px solid var(--heading-color); } }

/*# sourceMappingURL=mywork.css.map */
