.mywork {
  margin: 200px 0px 0px 0px;
}

.mywork__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--heading-color);
}

.mywork__title {
  margin: 0px 0px 138px 0px;
}

.mywork__title h2 {
  font-weight: bold;
  font-size: 44px;
  line-height: 51px;
  color: var(--heading-color);
}

.mywork_text {
  max-width: 393px;
}

.mywork_text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--font-color);
}

.mywork__card-link {
  color: var(--heading-color);
}

.mywork__card {
  margin: 82px 0px 0px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid var(--heading-color);
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.mywork__card-name {
  margin: 0px 0px 156px 0px;
}

.mywork__card-name h3 {
  font-weight: bold;
  font-size: 44px;
  line-height: 51px;
  color: var(--heading-color);
}

.mywork__card-description {
  max-width: 394px;
}

.mywork__card-description p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--font-color);
}

.mywork__card-icon svg line {
  stroke: var(--heading-color);
}

.mywork #laweta {
  position: absolute;
  width: 480px;
  height: 300px;
}
