.plan {
  margin: 168px 0px 0px 0px; }
  .plan__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--heading-color); }
  .plan__title {
    margin: 0px 0px 138px 0px; }
    .plan__title h2 {
      font-weight: bold;
      font-size: 44px;
      line-height: 51px;
      color: var(--heading-color); }
  .plan__text {
    max-width: 392px; }
    .plan__text p {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--font-color); }
  .plan__card {
    margin: 95px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--heading-color); }
  .plan__card-num {
    margin: 0px 0px 103px -15px;
    max-width: 205px; }
    .plan__card-num p {
      font-weight: 500;
      font-size: 198px;
      line-height: 150px;
      color: var(--heading-color); }
  .plan__card-title {
    min-width: 195px; }
    .plan__card-title h4 {
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;
      color: var(--heading-color); }
  .plan__card-text {
    max-width: 393px; }
    .plan__card-text p {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--font-color); }

@media (max-width: 576px) {
  .plan {
    margin: 100px 0px 0px 0px; }
    .plan__wrapper {
      flex-direction: column;
      padding: 0px 0px 42px 0px; }
    .plan__title {
      margin: 0px 0px 16px 0px; }
    .plan__text {
      max-width: 330px; }
    .plan__cards-wrapper .plan__card {
      margin: 46px 0px 0px 0px;
      padding: 0px 0px 42px 0px;
      flex-direction: column; }
      .plan__cards-wrapper .plan__card-num {
        margin: 0px 0px 40px -15px; }
      .plan__cards-wrapper .plan__card-title {
        margin: 0px 0px 16px 0px; } }
@media screen and (orientation: landscape) and (max-width: 992px) {
  .plan {
    margin: 100px 10% 0px 10%; }
    .plan__wrapper {
      flex-direction: column;
      padding: 0px 0px 42px 0px; }
    .plan__title {
      margin: 0px 0px 16px 0px; }
    .plan__text {
      max-width: 546px; }
    .plan__cards-wrapper .plan__card {
      margin: 46px 0px 0px 0px;
      padding: 0px 0px 42px 0px;
      flex-direction: column; }
      .plan__cards-wrapper .plan__card-num {
        margin: 0px 0px 40px -15px; }
      .plan__cards-wrapper .plan__card-title {
        margin: 0px 0px 16px 0px; }
      .plan__cards-wrapper .plan__card-text {
        max-width: 556px; } }
