@charset "UTF-8";
.price {
  margin: 200px 0px 0px 0px; }
  .price__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--heading-color); }
  .price__title {
    margin: 0px 0px 164px 0px; }
    .price__title h2 {
      font-weight: bold;
      font-size: 44px;
      line-height: 51px;
      color: var(--heading-color); }
  .price__text {
    max-width: 393px; }
    .price__text p {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--font-color); }
  .price__cost-wrapper {
    position: relative; }
    .price__cost-wrapper .price__cost-day {
      position: absolute;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--heading-color);
      top: -37px;
      left: 470px; }
    .price__cost-wrapper .price__cost-value {
      position: absolute;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--heading-color);
      top: -37px;
      right: 310px; }
  .price__card {
    margin: 90px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--heading-color); }
    .price__card-about {
      width: 275px;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--font-color); }
    .price__card-link {
      cursor: pointer;
      position: relative;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: var(--heading-color);
      border-bottom: 1px solid var(--heading-color); }
    .price__card-modal {
      display: none; }
  .price__card-variety .collapse:not(.show) {
    display: none; }
  .price__card-variety .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease; }
  .price__card-variety p {
    width: 275px;
    margin: 0px 0px 36px 0px;
    font-weight: bold;
    font-size: 44px;
    line-height: 51px;
    color: var(--heading-color); }
  .price__card-days {
    font-weight: 500;
    font-size: 198px;
    line-height: 152px;
    color: var(--heading-color); }
  .price__card-cost {
    margin: 0px 0px 105px 0px;
    padding: 0px 40px 0px 0px;
    font-weight: 500;
    font-size: 198px;
    line-height: 146px;
    color: var(--heading-color); }

@media (max-width: 576px) {
  .price {
    margin: 100px 0px 0px 0px; }
    .price__wrapper {
      flex-direction: column;
      padding: 0px 0px 42px 0px; }
    .price__title {
      margin: 0px 0px 16px 0px; }
    .price__text {
      max-width: 330px; }
    .price .price__cards-wrapper .price__card {
      margin: 35px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .price .price__cards-wrapper .price__card-variety p {
        margin: 0px 0px 42px 0px; }
      .price .price__cards-wrapper .price__card-days {
        position: relative;
        display: flex;
        order: 0;
        flex-basis: 50%;
        font-weight: 500;
        font-size: 78px;
        line-height: 107px;
        order: 1; }
        .price .price__cards-wrapper .price__card-days::before {
          content: 'Дни';
          position: absolute;
          top: -20px;
          left: 3px;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px; }
      .price .price__cards-wrapper .price__card-cost {
        position: relative;
        padding: 0px 0px 0px 0px;
        display: flex;
        order: 1;
        flex-basis: 50%;
        margin: 0px 0px 21px 0px;
        font-weight: 500;
        font-size: 78px;
        line-height: 107px;
        order: 2; }
        .price .price__cards-wrapper .price__card-cost::before {
          content: 'Цена ($$$)';
          position: absolute;
          top: -20px;
          left: -2px;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px; }
      .price .price__cards-wrapper .price__card-link {
        display: none;
        margin: 0; }
      .price .price__cards-wrapper .price__card .collapse {
        margin: 0; }
      .price .price__cards-wrapper .price__card-modal {
        margin: 0px 0px 42px 0px;
        display: flex;
        order: 2;
        flex-basis: 100%; }
        .price .price__cards-wrapper .price__card-modal-link {
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: var(--heading-color);
          border-bottom: 1px solid var(--heading-color); }
    .price .price__cost-day {
      display: none; }
    .price .price__cost-value {
      display: none; } }
@media only screen and (orientation: landscape) and (max-width: 992px) {
  .price {
    margin: 100px 10% 0px 10%; }
    .price__wrapper {
      flex-direction: column;
      padding: 0px 0px 42px 0px; }
    .price__title {
      margin: 0px 0px 16px 0px; }
    .price__text {
      max-width: 534px; }
    .price .price__cards-wrapper .price__card {
      margin: 35px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .price .price__cards-wrapper .price__card-variety {
        flex-basis: 100%; }
        .price .price__cards-wrapper .price__card-variety p {
          margin: 0px 0px 42px 0px; }
      .price .price__cards-wrapper .price__card-days {
        position: relative;
        display: flex;
        order: 0;
        flex-basis: 50%;
        font-weight: 500;
        font-size: 78px;
        line-height: 107px;
        order: 1; }
        .price .price__cards-wrapper .price__card-days::before {
          content: 'Дни';
          position: absolute;
          top: -20px;
          left: 3px;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px; }
      .price .price__cards-wrapper .price__card-cost {
        position: relative;
        padding: 0px 0px 0px 0px;
        display: flex;
        order: 1;
        flex-basis: 50%;
        margin: 0px 0px 21px 0px;
        font-weight: 500;
        font-size: 78px;
        line-height: 107px;
        order: 2; }
        .price .price__cards-wrapper .price__card-cost::before {
          content: 'Цена ($$$)';
          position: absolute;
          top: -20px;
          left: -2px;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px; }
      .price .price__cards-wrapper .price__card-link {
        display: none;
        margin: 0; }
      .price .price__cards-wrapper .price__card .collapse {
        margin: 0; }
      .price .price__cards-wrapper .price__card-modal {
        margin: 0px 0px 42px 0px;
        display: flex;
        order: 2;
        flex-basis: 100%; }
        .price .price__cards-wrapper .price__card-modal-link {
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: var(--heading-color);
          border-bottom: 1px solid var(--heading-color); }
    .price .price__cost-day {
      display: none; }
    .price .price__cost-value {
      display: none; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .price {
    margin: 100px 6% 0px 6%; }
    .price__wrapper {
      flex-direction: column;
      padding: 0px 0px 42px 0px; }
    .price__title {
      margin: 0px 0px 16px 0px; }
    .price__text {
      max-width: 534px; }
    .price .price__cards-wrapper .price__card {
      margin: 35px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .price .price__cards-wrapper .price__card-variety {
        flex-basis: 100%; }
        .price .price__cards-wrapper .price__card-variety p {
          margin: 0px 0px 42px 0px; }
      .price .price__cards-wrapper .price__card-days {
        position: relative;
        display: flex;
        order: 0;
        flex-basis: 50%;
        font-weight: 500;
        font-size: 78px;
        line-height: 107px;
        order: 1; }
        .price .price__cards-wrapper .price__card-days::before {
          content: 'Дни';
          position: absolute;
          top: -20px;
          left: 3px;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px; }
      .price .price__cards-wrapper .price__card-cost {
        position: relative;
        padding: 0px 0px 0px 0px;
        display: flex;
        order: 1;
        flex-basis: 50%;
        margin: 0px 0px 45px 0px;
        font-weight: 500;
        font-size: 78px;
        line-height: 107px;
        order: 2; }
        .price .price__cards-wrapper .price__card-cost::before {
          content: 'Цена ($$$)';
          position: absolute;
          top: -20px;
          left: -2px;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px; }
      .price .price__cards-wrapper .price__card-link {
        display: none;
        margin: 0; }
      .price .price__cards-wrapper .price__card .collapse {
        margin: 0; }
      .price .price__cards-wrapper .price__card-modal {
        margin: 0px 0px 42px 0px;
        display: flex;
        order: 2;
        flex-basis: 100%; }
        .price .price__cards-wrapper .price__card-modal-link {
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: var(--heading-color);
          border-bottom: 1px solid var(--heading-color); }
    .price .price__cost-day {
      display: none; }
    .price .price__cost-value {
      display: none; }
    .price__card-variety p {
      width: 420px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .price {
    margin: 100px 19% 0px 19%; }
    .price__wrapper {
      flex-direction: column;
      padding: 0px 0px 42px 0px; }
    .price__title {
      margin: 0px 0px 16px 0px; }
    .price__text {
      max-width: 534px; }
    .price .price__cards-wrapper .price__card {
      margin: 35px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .price .price__cards-wrapper .price__card-variety {
        flex-basis: 100%; }
        .price .price__cards-wrapper .price__card-variety p {
          margin: 0px 0px 42px 0px; }
      .price .price__cards-wrapper .price__card-days {
        position: relative;
        display: flex;
        order: 0;
        flex-basis: 50%;
        font-weight: 500;
        font-size: 78px;
        line-height: 107px;
        order: 1; }
        .price .price__cards-wrapper .price__card-days::before {
          content: 'Дни';
          position: absolute;
          top: -20px;
          left: 3px;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px; }
      .price .price__cards-wrapper .price__card-cost {
        position: relative;
        padding: 0px 0px 0px 0px;
        display: flex;
        order: 1;
        flex-basis: 50%;
        margin: 0px 0px 45px 0px;
        font-weight: 500;
        font-size: 78px;
        line-height: 107px;
        order: 2; }
        .price .price__cards-wrapper .price__card-cost::before {
          content: 'Цена ($$$)';
          position: absolute;
          top: -20px;
          left: -2px;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px; }
      .price .price__cards-wrapper .price__card-link {
        display: none;
        margin: 0; }
      .price .price__cards-wrapper .price__card .collapse {
        margin: 0; }
      .price .price__cards-wrapper .price__card-modal {
        margin: 0px 0px 42px 0px;
        display: flex;
        order: 2;
        flex-basis: 100%; }
        .price .price__cards-wrapper .price__card-modal-link {
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: var(--heading-color);
          border-bottom: 1px solid var(--heading-color); }
    .price .price__cost-day {
      display: none; }
    .price .price__cost-value {
      display: none; }
    .price__card-variety p {
      width: 420px; } }

/*# sourceMappingURL=price.css.map */
