.price {
  margin: 200px 0px 0px 0px;
}

.price__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--heading-color);
}

.price__title {
  margin: 0px 0px 164px 0px;
}

.price__title h2 {
  font-weight: bold;
  font-size: 44px;
  line-height: 51px;
  color: var(--heading-color);
}

.price__text {
  max-width: 393px;
}

.price__text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--font-color);
}

.price__cost-wrapper {
  position: relative;
}

.price__cost-wrapper .price__cost-day {
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  top: -37px;
  left: 470px;
}

.price__cost-wrapper .price__cost-value {
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  top: -37px;
  right: 310px;
}

.price__card {
  margin: 90px 0px 0px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--heading-color);
}

.price__card-about {
  width: 275px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--font-color);
}

.price__card-link {
  cursor: pointer;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  border-bottom: 1px solid var(--heading-color);
}

.price__card-variety .collapse:not(.show) {
  display: none;
}

.price__card-variety .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
}

.price__card-variety p {
  width: 275px;
  margin: 0px 0px 36px 0px;
  font-weight: bold;
  font-size: 44px;
  line-height: 51px;
  color: var(--heading-color);
}

.price__card-days {
  font-weight: 500;
  font-size: 198px;
  line-height: 152px;
  color: var(--heading-color);
}

.price__card-cost {
  margin: 0px 0px 105px 0px;
  padding: 0px 40px 0px 0px;
  font-weight: 500;
  font-size: 198px;
  line-height: 146px;
  color: var(--heading-color);
}
