.concretely {
    margin: 200px 0px 0px 0px;



    &__wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--heading-color);
    }

    &__title {
        margin: 0px 0px 138px 0px;

        h2 {
            font-weight: bold;
            font-size: 44px;
            line-height: 51px;
            color: var(--heading-color);
        }
    }

    &__text {
        max-width: 392px;

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: var(--font-color);
        }
    }


    &__cards {
        display: flex;
        justify-content: space-between;
        margin: 93px 0px 0px 0px;

    }

    &__card {
        flex-basis: 28%;
    }

    &__header {
        max-width: 286px;
        margin: 0px 0px 16px 0px;

        h3 {
            font-weight: 800;
            font-size: 20px;
            line-height: 25px;
            color: var(--heading-color);
        }
    }

    &__text {
        p {
            font-size: 16px;
            line-height: 26px;
            color: var(--font-color);
        }
    }

    &__line {
        width: 1px;
        height: 222px;
        background-color: var(--heading-color);
    }
}

@media (max-width: 576px) {
    .concretely {
        margin: 100px 0px 0px 0px;

        &__wrapper {
            flex-wrap: wrap;
        }

        &__title {
            margin: 0px 0px 16px 0px;

        }

        &__text {
            max-width: 330px;
            padding: 0px 0px 42px 0px;

        }

        &__cards {
            margin: 0px 0px 0px 0px;
            flex-direction: column;

            .concretely__card {
                margin: 40px 0px 0px 0px;

                border-bottom: 1px solid var(--heading-color);
            }

            .concretely__line {
                display: none;
            }
        }
    }
}

@media only screen and (orientation: landscape) and (max-width: 992px) {
    .concretely {
        margin: 100px 10% 0px 10%;

        &__wrapper {
            flex-wrap: wrap;
        }

        &__title {
            margin: 0px 0px 16px 0px;

        }

        &__header {
            max-width: 270px;
        }

        &__text {
            max-width: 534px;
            padding: 0px 0px 42px 0px;

        }

        &__cards {
            margin: 0px 0px 0px 0px;
            flex-direction: column;

            .concretely__card {
                margin: 40px 0px 0px 0px;

                border-bottom: 1px solid var(--heading-color);
            }

            .concretely__line {
                display: none;
            }
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .concretely {
        margin: 100px 6% 0px 6%;

        &__wrapper {
            flex-wrap: wrap;
        }

        &__title {
            margin: 0px 0px 16px 0px;

        }

        &__header {
            max-width: 270px;
        }

        &__text {
            max-width: 534px;
            padding: 0px 0px 42px 0px;

        }

        &__cards {
            margin: 0px 0px 0px 0px;
            flex-direction: column;

            .concretely__card {
                margin: 40px 0px 0px 0px;

                border-bottom: 1px solid var(--heading-color);
            }

            .concretely__line {
                display: none;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .concretely {
        margin: 100px 19% 0px 19%;

        &__wrapper {
            flex-wrap: wrap;
        }

        &__title {
            margin: 0px 0px 16px 0px;

        }

        &__header {
            max-width: 270px;
        }

        &__text {
            max-width: 553px;
            padding: 0px 0px 42px 0px;

        }

        &__cards {
            margin: 0px 0px 0px 0px;
            flex-direction: column;

            .concretely__card {
                margin: 40px 0px 0px 0px;

                border-bottom: 1px solid var(--heading-color);
            }

            .concretely__line {
                display: none;
            }
        }
    }
}