.contact {
    margin: 200px 0px 0px 0px;
    padding: 0px 0px 240px 0px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--heading-color);
    }

    &__title {
        margin: 0px 0px 138px 0px;

        h2 {
            font-weight: bold;
            font-size: 44px;
            line-height: 51px;
            color: var(--heading-color);
        }
    }

    &__text {
        max-width: 393px;

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: var(--font-color);
        }
    }

    &__cards {}

    &__card {
        padding: 82px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--heading-color);

        /* &:hover,
        &:hover h3,
        &:hover p,
        &:hover svg line {
            stroke: var(--bg-color);
            color: var(--bg-color);
            background-color: var(--heading-color);
        } */
        &-send {
            display: none;
        }
    }

    &__card-social {
        margin: 0px 0px 156px 0px;
        width: 240px;
        color: var(--heading-color);

        h3 {
            font-weight: bold;
            font-size: 44px;
            line-height: 51px;
        }
    }

    &__card-links {
        display: flex;

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: var(--font-color);
        }
    }

    &__card-icon {
        svg {

            line {
                stroke: var(--heading-color);
            }

        }
    }

}

@media (max-width: 576px) {
    .contact {
        margin: 100px 0px 0px 0px;
        padding: 0px 0px 140px 0px;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin: 0px 0px 16px 0px;

            h2 {
                font-weight: bold;
                font-size: 44px;
                line-height: 51px;
            }
        }

        &__text {
            max-width: 305px;
            padding: 0px 0px 42px 0px;
        }

        &__cards {}

        &__card {
            padding: 35px 0px 0px 0px;
            display: flex;
            flex-direction: column;

            &-send {
                display: block;
            }
        }

        &__card-social {
            margin: 0px 0px 16px 0px;
        }

        &__card-links {
            margin: 0px 0px 38px 0px;
        }

        &__card-icon {
            display: none;
        }

        &__card-send {
            padding: 0px 0px 42px 0px;

            a {
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: var(--heading-color);
                border-bottom: 1px solid var(--heading-color);
            }
        }

    }
}

@media only screen and (orientation: landscape) and (max-width: 992px) {
    .contact {
        margin: 100px 10% 0px 10%;
        padding: 0px 0px 140px 0px;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin: 0px 0px 16px 0px;

            h2 {
                font-weight: bold;
                font-size: 44px;
                line-height: 51px;
            }
        }

        &__text {
            max-width: 530px;
            padding: 0px 0px 42px 0px;
        }

        &__cards {}

        &__card {
            padding: 35px 0px 0px 0px;
            display: flex;
            flex-direction: column;

            &-send {
                display: block;
            }
        }

        &__card-social {
            margin: 0px 0px 16px 0px;
        }

        &__card-links {
            margin: 0px 0px 38px 0px;
        }

        &__card-icon {
            display: none;
        }

        &__card-send {
            padding: 0px 0px 42px 0px;

            a {
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: var(--heading-color);
                border-bottom: 1px solid var(--heading-color);
            }
        }

    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .contact {
        margin: 100px 6% 0px 6%;
        padding: 0px 0px 140px 0px;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin: 0px 0px 16px 0px;

            h2 {
                font-weight: bold;
                font-size: 44px;
                line-height: 51px;
            }
        }

        &__text {
            max-width: 530px;
            padding: 0px 0px 42px 0px;
        }

        &__cards {}

        &__card {
            padding: 35px 0px 0px 0px;
            display: flex;
            flex-direction: column;

            &-send {
                display: block;
            }
        }

        &__card-social {
            margin: 0px 0px 16px 0px;
        }

        &__card-links {
            margin: 0px 0px 38px 0px;
        }

        &__card-icon {
            display: none;
        }

        &__card-send {
            padding: 0px 0px 42px 0px;

            a {
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: var(--heading-color);
                border-bottom: 1px solid var(--heading-color);
            }
        }

    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .contact {
        margin: 100px 19% 0px 19%;
        padding: 0px 0px 140px 0px;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin: 0px 0px 16px 0px;

            h2 {
                font-weight: bold;
                font-size: 44px;
                line-height: 51px;
            }
        }

        &__text {
            max-width: 530px;
            padding: 0px 0px 42px 0px;
        }

        &__cards {}

        &__card {
            padding: 35px 0px 0px 0px;
            display: flex;
            flex-direction: column;

            &-send {
                display: block;
            }
        }

        &__card-social {
            margin: 0px 0px 16px 0px;
        }

        &__card-links {
            margin: 0px 0px 38px 0px;
        }

        &__card-icon {
            display: none;
        }

        &__card-send {
            padding: 0px 0px 42px 0px;

            a {
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: var(--heading-color);
                border-bottom: 1px solid var(--heading-color);
            }
        }

    }
}