.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 0px 0px 0px;
}

.header__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    z-index: 41;

    span {
        display: inline-block;
        font-weight: 800;
        font-size: 28px;
        line-height: 38px;
        color: var(--logo-bg-color);
    }

    p {
        font-weight: 800;
        font-size: 28px;
        line-height: 38px;
        color: var(--heading-color);
    }
}

.burger {

    &__menu-active {

        .burger__menu-lines {
            background-color: transparent;
            transition: .2s linear;

            &::before {
                top: 0;
                transform: rotate(45deg);
                transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
            }

            &::after {
                top: 0;
                transform: rotate(-45deg);
                transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
            }
        }

        .burger__menu-nav {
            opacity: 1;
            z-index: 20;
            margin: 0 auto;
        }

        .burger__menu-overlay {
            display: block;
        }
    }

    &__menu-button {
        position: relative;
        display: block;
        background-color: transparent;
        top: 8px;
        right: 0px;
        z-index: 30;
        width: 30px;
        height: 23px;
    }

    &__menu-lines,
    &__menu-lines::after,
    &__menu-lines::before {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: var(--heading-color);
    }

    &__menu-lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .2s linear;
    }

    &__menu-lines::before {
        content: "";
        top: -10px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    &__menu-lines::after {
        content: "";
        top: 10px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    &__menu {
        &-wrapper {}

        &-nav {
            text-align: center;
            margin: 0 auto;
            padding: 153px 0px 0px 0px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: flex;
            flex-direction: column;
            height: 100%;
            background-color: var(--bg-color);
            overflow-y: auto;
            opacity: 0;
            transition: .2s linear;
        }

        &-link {
            font-family: "Manrope";
            font-style: normal;
            font-weight: bold;
            font-size: 44px;
            line-height: 51px;
            color: var(--heading-color);
            margin: 0px 0px 60px 0px;

            &::first-child {}

            &::last-child {
                margin: 0px 0px 0px 0px;

            }

        }

        &-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
        }
    }
}