.intro {
    display: flex;
    justify-content: space-between;

    &__wrapper {
        flex-basis: 50%;
        max-width: 490px;
        margin: 223px 0px 0px 0px;
        overflow: hidden;
    }

    &__header {
        margin: 0px 0px 23px 0px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 51px;
        color: var(--heading-color);
    }

    &__text {
        font-family: "Manrope";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--font-color);
    }

    &__ellipse {
        display: block;
        flex-basis: 50%;

        &-one {
            position: relative;
            height: 599px;
            width: 599px;
            background: #AF00ED;
            filter: blur(90px);
            border-radius: 100%;
            z-index: 4;

            &::before {
                content: "";
                position: absolute;
                top: 60%;
                left: 60%;
                transform: translate(-40%, -70%);
                height: 235px;
                width: 235px;
                background: #00E9BF;
                filter: blur(50px);
                border-radius: 100%;
                z-index: 3;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 419px;
                height: 419px;
                background: #0095E9;
                filter: blur(70px);
                border-radius: 100%;
                z-index: 1;
            }
        }

    }

}

@media (max-width: 576px) {
    .intro {
        &__wrapper {
            margin: 100px 0px 0px 0px;
            flex-basis: 100%;
        }

        &__text {
            max-width: 330px;
        }

        &__ellipse {
            display: none;
        }
    }

}

@media only screen and (orientation: landscape) and (max-width: 992px) {
    .intro {
        margin: 0 10%;

        &__wrapper {
            margin: 100px 0px 0px 0px;
            max-width: 543px;
            flex-basis: 100%;
        }

        &__ellipse {
            display: none;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .intro {
        margin: 0 6%;

        &__wrapper {
            margin: 100px 0px 0px 0px;
            max-width: 543px;
            flex-basis: 100%;
        }

        &__ellipse {
            display: none;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .intro {
        margin: 0 19%;

        &__wrapper {
            margin: 100px 0px 0px 0px;
            max-width: 543px;
            flex-basis: 100%;
        }

        &__ellipse {
            display: none;
        }
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    .intro {
        margin: 0 19%;

        &__wrapper {
            margin: 100px 0px 0px 0px;
            max-width: 543px;
            flex-basis: 100%;
        }

        &__ellipse {
            display: none;
        }
    }
}