.modal__land {
  display: none;
}

.modal__multi {
  display: none;
}

.modal__store {
  display: none;
}

@media (max-width: 576px) {

  .modal {

    &__land {
      display: block;
      width: 100%;
      position: fixed;
      bottom: -190px;
      left: 0;
      background-color: var(--bg-color);
      border-radius: 20px 20px 0px 0px;
      z-index: 100;
      transition: ease-in-out .2s;

      &-show {
        bottom: 0px;
        transition: ease-in-out .2s;
      }
    }

    &__multi {
      display: block;
      width: 100%;
      position: fixed;
      bottom: -190px;
      left: 0;
      background-color: var(--bg-color);
      border-radius: 20px 20px 0px 0px;
      z-index: 100;
      transition: ease-in-out .2s;

      &-show {
        bottom: 0px;
        transition: ease-in-out .2s;
      }
    }

    &__store {
      display: block;
      width: 100%;
      position: fixed;
      bottom: -190px;
      left: 0;
      background-color: var(--bg-color);
      border-radius: 20px 20px 0px 0px;
      z-index: 100;
      transition: ease-in-out .2s;

      &-show {
        bottom: 0px;
        transition: ease-in-out .2s;
      }
    }

    &__title {
      padding: 27px 0px 16px 15px;
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      padding: 0px 0px 27px 15px;
      max-width: 329px;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
    }

    &__close {
      position: absolute;
      top: 28px;
      right: 27px;

      picture {
        svg {
          stroke: var(--heading-color);

          rect {
            fill: var(--heading-color);
          }
        }
      }
    }

    &__closem {
      position: absolute;
      top: 28px;
      right: 27px;

      picture {
        svg {
          stroke: var(--heading-color);

          rect {
            fill: var(--heading-color);
          }
        }
      }
    }

    &__closes {
      position: absolute;
      top: 28px;
      right: 27px;

      picture {
        svg {
          stroke: var(--heading-color);

          rect {
            fill: var(--heading-color);
          }
        }
      }
    }
  }


  .overlay {
    display: block;
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(206, 206, 206, 1);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0;
    pointer-events: none;
  }

  .overlay.active {
    opacity: 0.9;
    pointer-events: all;
  }
}