.mywork {
    margin: 200px 0px 0px 0px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--heading-color);
    }

    &__title {
        margin: 0px 0px 138px 0px;

        h2 {
            font-weight: bold;
            font-size: 44px;
            line-height: 51px;
            color: var(--heading-color);
        }
    }

    &_text {
        max-width: 393px;

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: var(--font-color);
        }
    }

    &__card {
        margin: 82px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        border-bottom: 1px solid var(--heading-color);
    }

    &__card-name {
        margin: 0px 0px 156px 0px;

        h3 {
            font-weight: bold;
            font-size: 44px;
            line-height: 51px;
            color: var(--heading-color);
        }
    }

    &__card-description {
        max-width: 394px;

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: var(--font-color);
        }
    }

    &__card-icon {
        svg {

            line {
                stroke: var(--heading-color);
            }

        }
    }

    &__card-links {
        display: none;
    }


    .mywork__card {}

    &__card-link {
        color: var(--heading-color);

    }


    #laweta {
        position: absolute;
        width: 480px;
        height: 300px;
    }

}

@media (max-width: 576px) {
    .mywork {
        margin: 100px 0px 0px 0px;

        &__wrapper {
            padding: 0px 0px 42px 0px;

            flex-direction: column;

            .mywork__title {
                margin: 0px 0px 16px 0px;

            }

            .mywork_text {
                max-width: 330px;
            }
        }

        &__card-link {}

        &__card {
            margin: 35px 0px 0px 0px;
            padding: 0px 0px 42px 0px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }

        &__card-name {
            margin: 0px 0px 16px 0px;
        }

        &__card-description {
            margin: 0px 0px 38px 0px;
            max-width: 330px;
        }

        &__card-icon {
            display: none;
        }

        &__card-links {
            display: block;

            .links {
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: var(--heading-color);
                border-bottom: 1px solid var(--heading-color);
            }
        }

    }
}

@media only screen and (orientation: landscape) and (max-width: 992px) {
    .mywork {
        margin: 100px 10% 0px 10%;

        &__wrapper {
            padding: 0px 0px 42px 0px;

            flex-direction: column;

            .mywork__title {
                margin: 0px 0px 16px 0px;

            }

            .mywork_text {
                max-width: 508px;
            }
        }


        &__card {
            margin: 35px 0px 0px 0px;
            padding: 0px 0px 42px 0px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }

        &__card-name {
            margin: 0px 0px 16px 0px;
        }

        &__card-description {
            margin: 0px 0px 38px 0px;
            max-width: 508px;
        }

        &__card-icon {
            display: none;
        }

        &__card-links {
            display: block;

            .links {
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: var(--heading-color);
                border-bottom: 1px solid var(--heading-color);
            }
        }

    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .mywork {
        margin: 100px 6% 0px 6%;

        &__wrapper {
            padding: 0px 0px 42px 0px;

            flex-direction: column;

            .mywork__title {
                margin: 0px 0px 16px 0px;

            }

            .mywork_text {
                max-width: 508px;
            }
        }


        &__card {
            margin: 35px 0px 0px 0px;
            padding: 0px 0px 42px 0px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }

        &__card-name {
            margin: 0px 0px 16px 0px;
        }

        &__card-description {
            margin: 0px 0px 38px 0px;
            max-width: 508px;
        }

        &__card-icon {
            display: none;
        }

        &__card-links {
            display: block;

            .links {
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: var(--heading-color);
                border-bottom: 1px solid var(--heading-color);
            }
        }

    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .mywork {
        margin: 100px 19% 0px 19%;

        &__wrapper {
            padding: 0px 0px 42px 0px;

            flex-direction: column;

            .mywork__title {
                margin: 0px 0px 16px 0px;

            }

            .mywork_text {
                max-width: 508px;
            }
        }


        &__card {
            margin: 35px 0px 0px 0px;
            padding: 0px 0px 42px 0px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }

        &__card-name {
            margin: 0px 0px 16px 0px;
        }

        &__card-description {
            margin: 0px 0px 38px 0px;
            max-width: 508px;
        }

        &__card-icon {
            display: none;
        }

        &__card-links {
            display: block;

            .links {
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: var(--heading-color);
                border-bottom: 1px solid var(--heading-color);
            }
        }

    }
}