.plan {
    margin: 168px 0px 0px 0px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--heading-color);
    }

    &__title {
        margin: 0px 0px 138px 0px;

        h2 {
            font-weight: bold;
            font-size: 44px;
            line-height: 51px;
            color: var(--heading-color);
        }
    }

    &__text {
        max-width: 392px;

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: var(--font-color);
        }
    }

    &__cards-wrapper {}

    &__card {
        margin: 95px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid var(--heading-color);
    }

    &__card-num {
        margin: 0px 0px 103px -15px;

        max-width: 205px;

        p {
            font-weight: 500;
            font-size: 198px;
            line-height: 150px;
            color: var(--heading-color);
        }
    }

    &__card-title {
        min-width: 195px;

        h4 {
            font-weight: 800;
            font-size: 20px;
            line-height: 25px;
            color: var(--heading-color);
        }
    }

    &__card-text {
        max-width: 393px;

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: var(--font-color);
        }
    }

}

@media (max-width: 576px) {
    .plan {
        margin: 100px 0px 0px 0px;

        &__wrapper {
            flex-direction: column;
            padding: 0px 0px 42px 0px;

        }

        &__title {
            margin: 0px 0px 16px 0px;

        }

        &__text {
            max-width: 330px;
        }

        &__cards-wrapper {
            .plan__card {
                margin: 46px 0px 0px 0px;
                padding: 0px 0px 42px 0px;

                flex-direction: column;

                &-num {
                    margin: 0px 0px 40px -15px;

                }

                &-title {
                    margin: 0px 0px 16px 0px;

                }
            }
        }
    }
}

@media only screen and (orientation: landscape) and (max-width: 992px) {
    .plan {
        margin: 100px 10% 0px 10%;

        &__wrapper {
            flex-direction: column;
            padding: 0px 0px 42px 0px;

        }

        &__title {
            margin: 0px 0px 16px 0px;

        }

        &__text {
            max-width: 546px;
        }

        &__cards-wrapper {
            .plan__card {
                margin: 46px 0px 0px 0px;
                padding: 0px 0px 42px 0px;

                flex-direction: column;

                &-num {
                    margin: 0px 0px 40px -15px;

                }

                &-title {
                    margin: 0px 0px 16px 0px;

                }

                &-text {
                    max-width: 556px;
                }
            }
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .plan {
        margin: 100px 6% 0px 6%;

        &__wrapper {
            flex-direction: column;
            padding: 0px 0px 42px 0px;

        }

        &__title {
            margin: 0px 0px 16px 0px;

        }

        &__text {
            max-width: 546px;
        }

        &__cards-wrapper {
            .plan__card {
                margin: 46px 0px 0px 0px;
                padding: 0px 0px 42px 0px;

                flex-direction: column;

                &-num {
                    margin: 0px 0px 40px -15px;

                }

                &-title {
                    margin: 0px 0px 16px 0px;

                }

                &-text {
                    max-width: 556px;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .plan {
        margin: 100px 19% 0px 19%;

        &__wrapper {
            flex-direction: column;
            padding: 0px 0px 42px 0px;

        }

        &__title {
            margin: 0px 0px 16px 0px;

        }

        &__text {
            max-width: 546px;
        }

        &__cards-wrapper {
            .plan__card {
                margin: 46px 0px 0px 0px;
                padding: 0px 0px 42px 0px;

                flex-direction: column;

                &-num {
                    margin: 0px 0px 40px -15px;

                }

                &-title {
                    margin: 0px 0px 16px 0px;

                }

                &-text {
                    max-width: 556px;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    .plan {
        margin: 100px 19% 0px 19%;

        &__wrapper {
            flex-direction: column;
            padding: 0px 0px 42px 0px;

        }

        &__title {
            margin: 0px 0px 16px 0px;

        }

        &__text {
            max-width: 546px;
        }

        &__cards-wrapper {
            .plan__card {
                margin: 46px 0px 0px 0px;
                padding: 0px 0px 42px 0px;

                flex-direction: column;

                &-num {
                    margin: 0px 0px 40px -15px;

                }

                &-title {
                    margin: 0px 0px 16px 0px;

                }

                &-text {
                    max-width: 556px;
                }
            }
        }
    }
}