#uparrow {
    height: 80px;
    width: 40px;
    bottom: 100px;
    left: 47%;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    display: none;

    svg {
        rect {
            stroke: var(--heading-color);
        }

        path {
            stroke: var(--heading-color);
        }

    }
}

@media (max-width: 576px) {
    #uparrow {
        height: 80px;
        width: 40px;
        bottom: 10px;
        position: relative;
        left: 45%;
        transform: translate(-50%, 0);
        cursor: pointer;
        position: fixed;
        z-index: 1;
        display: none;

        svg {
            rect {
                stroke: var(--heading-color);
            }

            path {
                stroke: var(--heading-color);
            }

        }
    }
}